body {
  background-color: #ece3de;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 0rem;
  width: 135%;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ece3de;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 220px;
  text-align: center;
  padding: 15px;
  margin: 10px;
}

.card img {
  width: 100%; /* Ocupará todo el ancho de la tarjeta */
  height: 200px; /* Altura fija para que todas sean iguales */
  object-fit: cover; /* Recorta la imagen para ajustarla sin deformarla */
  border-radius: 8px;
}

.info-card h2 {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}

.precio {
  font-size: 16px;
  color: #27ae60;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background: #27ae60;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background: #219150;
}

.btn-menu {
  padding: 0.5rem;
  border-radius: 100vmax;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-menu:hover {
  transform: scale(1.1);
}
@media (min-width: 601px) {
  .nav {
    flex-direction: row; /* Coloca los elementos en fila */
  }

  .logo-and-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }

  .nav-btn {
    flex-direction: row; /* Coloca los botones en fila */
    margin: 0; /* Remueve el margen superior */
    gap: 15px; /* Ajusta el espacio entre botones */
  }
}
