body {
    background-color: #ece3de;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 0rem;
    width: 90%;
    justify-content: center;
    margin: auto;
}
.card-container {
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 200px;
    margin: 25px;
}
.card {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}
.card img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    display: block;
}
.info-card {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ece3de;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.card-container:hover .info-card {
    opacity: 1;
}

#buscador {
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    font-size: 16px;
    margin-left: auto;
    background-color: #ece3de;
    border-color: #a0153e;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
        text-align: center;
    }
}